header {
    background-color: rgb(3, 3, 3);
    height: 100px;
}

.box1 {
    width: 150px;
    float: left;
    margin-left: 50px;
}

.box2 {
    width: 300px;
    float: right;
    margin-right: 50px;
}
.header-box{
    background-color: rgb(241, 239, 239);
    height: 50px;
    margin-top: 20px;
}